@model Homework6.Models.BirthdayCard

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardSent</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h4>Birthday Card Generator</h4>
        <h2>Birthday Card Sent</h2>
        <p><label>From: @Model.From</label></p>
        <p><label>To: @Model.To</label></p>
        <p><label>Message: @Model.Message</label></p>
    </div>
</body>
</html>
