@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <style>
            .btn
            a {
                color: white;
                text-decoration: none;
            }

            body {
                background-color: #f1f1f1;
            }
        </style>
        <style>
            h4 {
                color: gainsboro;
                background-color: black;
                width: 300px;
                height: 50px;
            }
        </style>
        <style>
            p1 {
                background-color: yellow;
            }
        </style>
        @RenderBody()
    </div>
</body>
</html>
